.projects {
    padding-top: 40px;
    max-width: 1080;
    margin: 10px;
}

.card-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 717px) {
    .card-component {
        gap: 50px;
    }
}