.what-i-do {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 100px;
}

.left-what-i-do {
    text-align: center;
    font-size: 100px;
}

.right {
    text-align: center;
    padding-top: 50px;
}

.head-text {
    font-size: 50px;
}

.tech-stack {
    font-size: 30px;
}

.tech-stack ul li {
    font-size: 30px;
    transition: transform 0.3s ease; 
    transform-origin: center;
    margin-bottom: 15px;
}

.tech-stack ul li:hover {
    transform: scale(1.1);
}

.tools {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 40px;
    flex-wrap: wrap;
}

@media (max-width: 717px) {
    .what-i-do {
        flex-wrap: wrap;
    }

    .tech-stack {
        
    }

    .tech-stack ul {
        padding: 16px;
    }
}

@media (max-width: 983px) {
    
}