.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    padding-top: 0;
    margin-top: 0;
    cursor: pointer;
    font-weight: 400;
}

.nav-items ul {
    display: flex;
    gap: 60px;
    padding-top: 18px;
}

.nav-items ul li {
    font-weight: 400;
    font-size: 23px;
}

.nav-items ul li:hover {
    color: #66fcf1;
}

.nav-link {
    text-decoration: none;  
    border-bottom: none;
  }


.nav-items li.active {
    border-bottom: 2px solid #66fcf1;
}

@media (max-width: 717px) {
    .nav-items ul {
        gap: 20px;
        /* padding: 30px; */
    }

    .nav-items ul li {
        font-weight: 390;
        font-size: 18px;
    }

    .nav-items ul {
        padding: 0px;
    }
    
    .navbar {
        flex-wrap: wrap;
    }
}

@media (max-width: 717px) {
    .navbar {
      padding-right: 0px;
      flex-wrap: wrap;
    }

    .logo {
        padding-top: 8px;
    }

    .nav-items ul li {
        font-weight: 390;
        font-size: 24px;
    }

    .nav-items ul {
        /* padding: 30px; */
        margin: 0px;
    }
}

@media (max-width:1100) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}